html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    list-style-type: none;
}

span {
    display: block;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 99%;
}

.mainflex {
    height: 100%;
    padding-left: 0.2%;
    padding-right: 0.2%;
}

.flexcol {
    flex-direction: column;
}

.flexrow {
    flex-direction: row;
    height: 87%;
}

.vertcent {
    transform: translateY(-50%);
    top: 50%;
}

.button {
    color: white;
    background-color: grey;
    text-align: center;
    border: none;
    border-radius: 12px;
}

.chatbutton {
    display: block;
    float: right;
    margin-right: 20px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0.2%;
}


/*Heading Bar */

.Titlebar {
    position: relative;
    width: 100%;
    margin-top: 0.1%;
    background-color: #333333;
    font-size: 300%;
    height: 7%;
}

#Heading {
    display: block;
    float: left;
    color: white;
    margin-left: 10px;
    font-size: 22px;
}

@media screen and (min-width: 320px) {
    #Heading {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}


/* User List */

.Sidebar {
    width: 15%;
    border: #333333;
    border-width: thin;
    border-style: solid;
    border-top: white;
    overflow: auto;
}

.sidebarheader {
    height: 20px;
    background-color: #333333;
    color: white;
    border: white;
    border-width: thin;
    border-style: solid;
    padding-left: 5px;
}

.offlineusers {
    color: lightgray;
    font-style: italic;
}

.onlineusers {
    color: black;
    font-style: normal;
}


/* Main Chat Window */

.Chatbox {
    width: 85%;
    padding: 1%;
    color: #333333;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    vertical-align: bottom;
}

.chatdiv {
    width: 100%
}


/*Input Field */

.Inputbox {
    position: relative;
    height: 5%;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    background-color: #333333;
}

#chatform {
    display: block;
    float: left;
    width: 90%;
    margin-top: 10px;
    height: 40%;
    margin-left: 5px;
}


/* Login Page */

.gridcontainer {
    height: 100%;
    background-color: #333333;
    color: white;
    display: grid;
    grid-template-columns: 100%;
}

.centerbox {
    text-align: center;
}

.popup {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    z-index: 9;
}

#popupRegister {
    visibility: hidden;
}

#popuplogin {
    visibility: visible;
}